<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Software</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'software/software.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
        <h1>Software</h1>
        <p>You will learn my software career in this page.</p>
        <p>I hope you have a good read :)</p>
    </header>

    <section>
        <h2>Attention</h2>
        <p>My attention to software is started when I was high school and I chose my university on that.</p>
        <p>But I did nothing to learn software even my attention. I started to learn it in university.</p>
        <p>The first programming language I learned was C because they taught us C in college. I saw people building websites and intrigued, so I started learning HTML, CSS, and JavaScript.</p>
        <p>During the summer semester of college, I learned Python and C++, then Java and Go.</p>
        <p>And I learned that I could do AI projects in Python, and that was cool, so I wanted to learn more about Python</p>
    </section>

    <section>
        <h2>Projects</h2>
        <p>I will talk about my projects.</p>
        <p>Here is my projects</p>
        <ul>
            <li><strong><a href="https://github.com/KayaxcOff/AetherAI-v1.0.0" target="_blank">AetherAI</a></strong></li>
            <ul>
                <p>AetherAI purpose is being task manager. Alerts users to high CPU and RAM usage with machine learning</p>
            </ul>
            <li><strong><a href="https://github.com/KayaxcOff/Banktron" target="_blank">Bank</a></strong></li>
            <ul>
                <p>This is my first GUI project in Java. It has the basic features of a banking app</p>
            </ul>
            <li><strong><a href="https://github.com/KayaxcOff/Football-Game" target="_blank">Football Game</a></strong></li>
            <lu>
                <p>It is one of my game projects in C++. There was a game in Turkish called Kafa Topu (Head Ball), it has two player and two file. My game is like Kafa Topu</p>
            </lu>
            <li><strong><a href="https://github.com/KayaxcOff/Deep-Blue" target="_blank">Deep Blue</a></strong></li>
            <ul>
                <p>It is my Deep Learning model who can play chees. It needs very much development</p>
            </ul>
            <li><strong><a href="https://github.com/KayaxcOff/Ankr" target="_blank">Ankr</a></strong></li>
            <ul>
                <p>It is my RPG game, I made it in C++. It has characters and enemies. You can walk in board</p>
            </ul>
            <li><strong><a href="https://github.com/KayaxcOff/qiskit" target="_blank">Quantum</a></strong></li>
            <ul>
                <p>That link will make you go my Quantum projects. One of them is a match analyse. Two of them are password cracking but only one of them is working correct. Other is simple circuit.</p>
            </ul>
        </ul>
    </section>

    <section>
        <h2>My Plans</h2>
        <p>I want to talk about the projects I plan to make.</p>
        <ul>
            <li>SynthMind</li>
            <ul>
                <p>This is my GPT project, but it will takes time because I need a huge dataset, at least a big dataset like 10 GB</p>
            </ul>
            <li>CraftMind</li>
            <ul>
                <p>This is a GPT project too, but it is for Minecraft. I want to use Transforms because it's so much hard to found or create a huge dataset fot this project</p>
            </ul>
            <li>BlueMind</li>
            <ul>
                <p>This will be update version of Deep Blue. My plan is using different DQN algorithm</p>
            </ul>
            <li>AetherAI-v2.0</li>
            <ul>
                <p>It will have more features and be like more a task manager</p>
            </ul>
            <li>CashFlow</li>
            <ul>
                <p>This is my Bank GUI. It will have more aesthetic design and more features. My plan is using SQLite</p>
            </ul>
        </ul>
        <p>I also want to make a model for image but other projects have my attention for now. And looks like I will a Mind series about AI. I also want to make a game in C++, int that I will use graphics with libraries</p>
    </section>

</body>
</html>